<div ng-include src="'app/views/pages/menu.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h3>Mitfluggelegenheit im Segelflugzeug</h3>


    <p>Der Schwerpunkt unserer fliegerischen Aktivitäten ist auf unsere eigenen
        Vereinsmitglieder (Ausbildung, Streckenfliegen usw.) ausgerichtet.&nbsp; Gern
        bieten wir den "Nicht-Fliegern" die Gelegenheit, während eines "Kennenlernflugs"
        in einem unserer Doppelsitzer einen Eindruck von unserem schönen Sport zu
        bekommen. (gilt als "Förderung des Luftsports").</p>
    <p>Die Gebühren, die wir für einen Flug erheben, werden für die zusätzliche
        Versicherung und die Betriebskosten verwendet.</p>


    <h3>Wo treffen wir uns?</h3>

    <p>Bei Flugbetrieb sind wir auf der Nordseite des Flugplatzes (siehe <a href="d_edhe.html#WEG">Wegweiser</a>).
        Meldet Euch am Startwagen des LSV Kreis Pinneberg (Foto unten).</p>
    <table border="0" width="90%">
        <tbody>
        <tr>
            <td width="42%"><img class="img-rounded img-responsive" src="app/views/images/startwagen.jpg" border="0" height="208" width="287"></td>
            <td valign="top" width="58%">
                <ul>
                    <li>Flugbetrieb findet normalerweise an Wochenenden und Feiertagen statt.
                    </li>
                    <li>Prinzipiell können bei uns Besucher ab Schulalter mitfliegen.
                    </li>
                    <li>Geflogen wird in einem doppelsitzigen Segelflugzeug mit einem
                        Piloten, der vorher und während des Fluges alles erklärt.
                    </li>
                    <li>Für Mitflieger im Segelflugzeug ist nur ein Sitz verfügbar.
                        Es können also nicht Papi und Kind gemeinsam mitfliegen.
                    </li>
                    <li>Wir haben auch englisch-sprachige Piloten!
                    </li>
                </ul>

            </td>
        </tr>
        </tbody>
    </table>

    <h3>Zur Organisation</h3>
    <ul>
        <li>Das beste Wetter für einen Flug mit einem Segelflugzeug:
            <ul>
                <li>trocken,
                </li>
                <li>wenig Wind,
                </li>
                <li>gute Sicht (nicht diesig),
                </li>
                <li>nicht zu kalt.
                </li>
            </ul>
        </li>
        <li>Es ist nicht möglich, einen Flug zu einer bestimmten Zeit im voraus
            zu buchen. Kommt einfach zum Flugplatz und bringt etwas Zeit mit.
        </li>
        <li>Wir sind kein "kommerzieller" Gastflugverein - z.B. hat unser Schulbetrieb am Wochenende Vorrang.
            D.h. wenn zu viele Fluginteressierte an einem Tag kommen, müssen wir ehrlich sein
            und Sie auf einen anderen Tag vertrösten.
        </li>
        <li>Für Gruppen (z.B. Schulklassen) kann Flugbetrieb in der Woche (z.B. Freitagnachmittag) organisiert werden.
            Ansprechpartner dafür ist unser Geschäftsführer Bernward Krause: <a href="mailto:b.krause@gmx.de"><img src="app/views/images/email-krause.gif" border="0"
                                                                                                                         height="16" width="104"></a>
        </li>
        <li>Minderjährige <b>müssen</b> einen Erziehungsberechtigten mitbringen,
            der sein Einverständnis zum Mitfliegen schriftlich abgeben muss.
        </li>
        <li>Bringt eine Sonnenbrille mit.
        </li>
        <li>Bringt eine Kamera mit für Fotos am Start. Obwohl das Fotografieren aus der Luft
            erlaubt ist, empfehlen wir, die Kamera am Boden zu lassen
            und den Flug einfach zu genießen.
        </li>
    </ul>

    <div class="row">
        <img class="img-rounded img-responsive center-block" src="app/views/images/pax1.jpg" alt="ASK-21"><br>
        <p class="text-center">
        Einem jungen Besucher werden die Instrumente der ASK-21 vor dem Start erklärt</p>
        </img>

    </div>


    <h3>Fragen und Antworten</h3>


    <h4>Wie lang dauert ein Probeflug?</h4>

    Der "normale" Flug startet an der Winde und gleitet die Höhe
    ab - in 7-8 Minuten ist man wieder am Boden. Das erscheint beim Lesen wenig,
    fürs "erste Mal" im Segelflugzeug ist es den meisten genug,
    denn man hat viele Eindrücke zu verarbeiten.


    <h4>Was kostet ein Flug im Segelflugzeug?</h4>
    Ein Flug kostet 20,- Euro im Doppelsitzer (Windenstart,
    Flugzeit bis 15 Minuten).


    <h4>Kann ich einen längeren Thermikflug machen?</h4>
    Das ist von Wetter (Thermik), Verfügbarkeit des Doppelsitzers und etwas Glück
    abhängig (ob man die Thermik "erwischt").
    Dann kann der Flug eine halbe oder sogar eine ganze Stunde dauern.
    Das kostet natürlich mehr (Euro 0,50 pro Minute ab der 16. Minute).


    <h4>Statt an der Winde möchte ich hinter einem Motorflugzeug starten!</h4>
    Geht auch, wenn der Schlepp-Motorsegler verfügbar ist.
    Allerdings ist man mit etwa den doppelten Kosten dabei.<br>
    <h3>Und wenn es mir gefällt?</h3>Wir bieten die <a
        href="mitgliedwerden">Möglichkeit, für zwei Wochenenden zu "Schnuppern"</a>,
    um die Ausbildung zum Segelflieger näher kennenzulernen - und unseren
    Verein auch. &nbsp;Wenn es weiterhin gefällt: Mitglied werden!
    <h4>Weitere Fragen?</h4>
    Der LSV Pinneberg ist über E-Mail <a href="mailto:info@LSV-Pinneberg.de"><img src="app/views/images/email-info.gif" border="0"></a>
    zu erreichen.

    <p>
        <em>
            <span style="color: red; font-size: smaller; ">last update 22.7.2014</span></em>
    </p>
</div>
