<div ng-include src="'app/views/pages/menu.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3>EDHE (Flugplatz Uetersen/Heist)</h3>
    <table>
    <tbody><tr><td valign="Top"> Land: </td>
        <td>Deutschland (Schleswig-Holstein) </td>
    </tr>
    <tr><td valign="Top"> Höhe: </td>
        <td> 7m über NN </td>
    </tr>
    <tr><td valign="Top"> Koordinaten: </td>
        <td> 53 38,82<b>N</b>  09 42,25<b>E</b> </td>
    </tr>
    <tr><td valign="Top"> Frequenz: </td>
        <td> 122,70 MHz "Uetersen Info" <br>
            123,475 MHz "Uetersen Segelflug" </td>
    </tr>
    <tr><td valign="Top"> Flugleitung: </td>
        <td> 04122 / 81444 </td>
    </tr>
    </tbody></table>


    <div style="text-align: center;">
        <img src="bild/edhe.gif" alt="Flugplatz Uetersen">
        <br>
        <b>Flugplatz Uetersen Richtung Süd-West</b>
    </div>

    <ul>
        <li>Der Flugplatz Uetersen liegt nördlich der Elbe, in Schleswig-Holstein
            sowie westlich der Großstadt Hamburg.</li>
        <p>
        </p><li>Der Flugplatz Uetersen entstand in den 30er Jahren.
        Das Flugplatzgelände gehört dem Bund und wird an die Flugplatz GmbH verpachtet.
        An der Nordseite des Platzes liegt die Marsielle-Kaserne.
        Hier ist eine Unteroffiziersschule untergebracht.
        Z.Zt. gibt es keine militärische Nutzung des Flugplatzes.</li>
        <p>
        </p><li>Der Flugplatz Uetersen ist ein großer Grasplatz.
        Die zwei parallelen Start- und Landebahnen (09/27) sind ca. 1000 Meter lang;
        der Flugplatz ist ca. 700 Meter breit.
        Das bedeutet, daß Motorflug- und Segelflugbetrieb völlig
        unabhängig voneinander stattfinden können.
        Die Motorflieger haben eine südliche Platzrunde,
        die Segelflieger die nördliche Platzrunde.
        Der Flugplatz ist auch für Ballons und Luftschiffe zugelassen.</li>
        <p>
        </p><li>Der Flugplatz liegt westlich der Hamburger Kontrollzone, aber unter
        dessen Luftraum "C".
        Durch Betriebsvereinbarungen ist das Segelfliegen am Platz
        meistens problemlos.
        Für die Streckensegelflieger gibt es Ein- und Ausflugkorridore
        Richtung Norden und Süden, die aber manchmal Schwierigkeiten bereiten.</li>
        <p>
        </p><li>Der GmbH gehören folgende vier Vereine an:
        <ul>
            <li><a href="verein" target="_top">Luftsportverein Kreis Pinneberg e.V.</a> (LSV Pinneberg)
            </li><li><a href="http://www.segelflug.de/vereine/uetersen" target="_blank">Segelflugclub Uetersen</a>
            (SCU)
        </li><li>Aero-Club Pinneberg e.V. (Motorflug)
        </li><li>Hamburger Luftsport e.V. (Motorflug)
        </li></ul>
    </li><li>Zusätzlich gibt es:
        <ul>
            <li>diverse Motorflugvereine sowie -schulen
            </li><li>diverse Interessengruppen
        </li><li>diverse Haltergemeinschaften
        </li></ul>
    </li></ul>
    Weitere Informationen gibt es <a target="_blank" href="http://www.edhe.de/">hier</a>.

    <p>
        <em>
            <span style="color: red; font-size: smaller; ">last update 22.5.2012</span>
        </em>
    </p>
</div>
