<div class="container-fluid">
    <div>
        <a class="nav-link" ng-click="item_click(0)" href="verein">
            <br>
            <h6 class="center"> Willkommen in der Homepage des</h6>
            <img src="app/views/images/lsvmlogo.gif" width="400" height="400"
                 class="img-fluid rounded-circle mx-auto d-block"
                 alt="Generic placeholder thumbnail"></a>
        <h3 class="center">Luftsportverein Kreis Pinneberg e.V.</h3>
        <div class="text-muted center">
            <p>Segelfliegen: Lautlos, traumhaft, erlebnisreich.....</p>
            <a href="verein" class="btn btn-outline-info" ng-click="item_click(0)">
                <span>Weiter</span>
            </a>

        </div>

        </a>
    </div>
</div>
