<div class="container-fluid">
    <div class="row">
        <div ng-include src="'app/views/pages/menu.html'"></div>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            <div class="container-fluid">

                <h3>Jugendgruppe</h3>
                <p style="text-align: left;">Unsere Jugendgruppe besteht zurzeit aus ca. 27 Jugendlichen im Alter von
                    14-25 Jahren, wir
                    haben darunter 5 Mädels!</p>
                <p style="text-align: center;"><img style="width: 576px; height: 432px;" alt=""
                                                    src="app/views/images/hannah.jpg"><br><span
                        style="font-weight: bold;">Hannah fliegt sich frei - am 19. September 2015</span></p>
                <p style="text-align: left;">Ab 14 darf man das Segelfliegen erlernen! &nbsp;Außerdem ist es möglich das
                    Autofahren
                    (Lepo) zu erlernen.</p>
                <p style="text-align: left;">Die Jugendgruppe ist voll in unseren Flugbetrieb integriert.</p>
                <p style="text-align: left;">Außerhalb des
                    Flugbetriebs werden Aktivitäten wie z.B. Kartfahren oder LAN-Parties
                    veranstaltet - meistens im Winterhalbjahr.
                </p>
                <p align="right">
                    <em>
                        <span style="color: red; font-size: smaller;">Letzte Aktualisierung: {{ date }}</span></em>
                </p>

            </div>
        </main>
    </div>
</div>