<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
        <route-loading-indicator></route-loading-indicator>
        <div ng-if="!isRouteLoading">

            <br>
            <h2>LSV Kreis Pinneberg</h2>
            <h3>Kontakte und Adressen</h3>
            <p>
                Der LSV Pinneberg ist über E-Mail <img src="bild/email-info.gif" alt="E-Mail" border="0">
                und unter folgender Adresse zu erreichen:
            </p>
            <ul>
                <li>
                    <b>Luftsportverein Kreis Pinneberg e.V.<br>
                        Flugplatz,
                        D-25492 Heist</b>
                    <br>
                </li>
            </ul>
            Folgende Kontaktpersonen geben bei Bedarf weitere Auskünfte:
            <table class="table-bordered table-hover table-condensed">
                <tbody>
                <tr>
                    <td align="center"> Bernie Krause <br>
                        <img src="app/views/images/email-krause.gif" border="0" height="16" width="104"><br>
                        <i>(Sprache: Deutsch/English)</i></td>
                    <td align="center"> Howard E. Mills <br>
                        <img style="width: 125px; height: 17px;" alt="" src="app/views/images/email-info.gif"><br>
                        <i>(Sprache: Englisch/Deutsch)</i></td>
                </tr>
                <tr>
                    <td align="center"> LSV-Geschäftsführer</td>
                    <td align="center"> LSV-Segelflugreferent</td>
                </tr>
                <tr>
                    <td align="center"> Tel. +49-(0)4103-808573</td>
                    <td align="center"> Tel. +49-(0)4101-76422</td>
                </tr>
                </tbody>
            </table>

            <p>Das LSV Geschäftszimmer ist nur unregelmäßig besetzt:&nbsp; 04122 / 81357</p>
            <p>Während
                des Flugbetriebs (an Wochenenden, Feiertagen usw.) sind wir am <a href="flugplatz">Segelflugstart</a>
                zu finden!
            </p>

            <h3>Impressum</h3>
            <p>


                Luftsportverein Kreis Pinneberg e.V.<br>
                Flugplatz<br>
                D-25492 Heist<br>
                Tel: +49 4122 / 81357<br>
                E-Mail: <img src="app/views/images/email-info.gif" border="0"><br>
                Internet: www.LSV-Pinneberg.de
            </p>
            <p>
                Vertretungsberechtigter Vorstand: Sönke Puschmann, Dr. Bernward
                Krause, Sylvia Riedel, Frank Weingärtner.<br>
                Vorsitzender: Sönke Puschmann<br>
                Registergericht: Amtsgericht Pinneberg<br>
                Registernummer: VR 517
            </p>
            <p>
                Umsatzsteuer-Identifikationsnummer gemäß § 27a<br>
                Umsatzsteuergesetz: DE 134806449
            </p>
            <p>
                Inhaltlich Verantwortlicher gemäß § 6 MDStV: Howard E Mills

            </p>
            <h3>Haftungshinweis</h3>
            Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung
            für die Inhalte externer Links.
            Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber
            verantwortlich.
            <p>

                Alle Angaben auf dieser Website sind ohne Gewähr.
                Insbesondere dient die Website ausschließlich zur Information
                und ersetzt keine Flugvorbereitung mit den amtlichen Veröffentlichungen.

            </p>
            <h3>Haftungsausschluss für den Inhalt verlinkter Seiten</h3>
            Der Betreiber dieser Homepage haftet nicht für den Inhalt externen
            Internetseiten, zu denen er Hyperlinks auf seiner Homepage
            eingebunden hat. Der Inhalt der externen Seiten entspricht nach
            Kenntnis des
            Betreibers dieser Homepage geltendem Recht. Diese Inhalte sind fremde
            Inhalte im Sinne des §5 II MDStv.
            bzw. keine eigenen Inhalte gem. §8I TDG. Von etwaigen Verstößen gegen
            Rechtsvorschriften durch die
            externen Seiten ist ihm nichts bekannt. Sollten ohne Wissen des
            Betreibers auf externen Seiten
            Rechtsverstöße stattfinden, so distanziert sich der Betreiber
            hiermit ausdrücklich von diesen Verstößen. Eine Distanzierung findet
            auch von den sonstigen rechtmäßigen und -widrigen Inhalten der externen
            Seiten statt, für die lediglich die Betreiber jener Seiten
            verantwortlich sind und auf die der Betreiber dieser Homepage keinen
            Einfluss nehmen kann.
            <p>
                Urheber des Textes: Webmaster von
                <a href="http://www.recht-der-homepage.de">www.recht-der-homepage.de</a>
            </p>


            <p>
                <em>
                    <span style="color: red; font-size: smaller; ">last update 11.2.2016</span></em>
            </p>
        </div>
    </div>
</div>