<nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="{{menu_class[2]}}" ng-click="item_click(2)" href="verein">Verein</a>
        </li>
        <li class="nav-item">
            <a class="{{menu_class[3]}}" ng-click="item_click(3)" href="mitgliedwerden">Mitglied werden</a>
        </li>
        <li class="nav-item">
            <a class="{{menu_class[4]}}" ng-click="item_click(4)" href="jugendgruppe">Jugendgruppe</a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="{{menu_class[5]}}" ng-click="item_click(5)" href="segelflugzeuge">Segelflugzeuge</a>
        </li>
        <li class="nav-item">
            <a class="{{menu_class[6]}}" ng-click="item_click(6)" href="tmg">Reisemotorsegler</a>
        </li>
        <li class="nav-item">
            <a class="{{menu_class[7]}}" ng-click="item_click(7)" href="winde">Winde</a>
        </li>
    </ul>
</nav>