<nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="{{menu_class[2]}}">
            <a ng-click="item_click(2)" href="fliegmituns">Flieg mit uns!</a>
        </li>
        <li class="{{menu_class[3]}}">
            <a ng-click="item_click(3)" href="verein">Verein</a>
        </li>
        <li class="{{menu_class[4]}}">
            <a ng-click="item_click(4)" href="mitgliedwerden">Mitglied werden</a>
        </li>
        <li class="{{menu_class[5]}}">
            <a ng-click="item_click(5)" href="jugendgruppe">Jugendgruppe</a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="{{menu_class[6]}}">
            <a ng-click="item_click(6)" href="segelflugzeuge">Segelflugzeuge</a>
        </li>
        <li class="{{menu_class[7]}}">
            <a ng-click="item_click(7)" href="tmg">Reisemotorsegler</a>
        </li>
        <li class="{{menu_class[8]}}">
            <a ng-click="item_click(8)" href="winde">Winde</a>
        </li>
    </ul>
</nav>