<div class="flex-container" ng-controller="mainMenuCtrl">
    <!--div class="flex-item logo">
        <span><img class="img-rounded img-responsive center-block" src="app/views/images/lsvmlogo.gif" alt="logo"></span>
    </div-->
    <div class="flex-item brand">
        <span class="banner">Luftsportverein Kreis Pinneberg e.V., Flugplatz Uetersen/Heist(EDHE), 123.475 MHz</span>
        <a href="/"><img src="app/views/images/lsvmlogo.png" class="main-logo pull-right"></a>
        <!--a href="/"></a-->
        <!--div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="app/views/images/lsvmlogo.png" class="img-circle"></a>
        </div-->
    </div>
    <div class="flex-item menu">
        <div id="navbar" class="navbar-collapse collapse">
            <div class="flex-container main-menu">
                <div class="flex-item main-menu">
                    <ul class="nav nav-popup navbar-nav" ng-mouseover="mainMenuClicked=false">
                        <li class="nav-item sub-menu-parent">
                            <a class="submenu-parent-item" href="#">Mitfliegen<b class="caret caret-up"></b></a>
                            <ul ng-if="!mainMenuClicked" auto-active class="sub-menu">
                                <!--li class="sub-menu-item">
                                    <a ng-href="fliegmituns"
                                       ng-click="$event.preventDefault(); linkClicked('fliegmituns')">Mitfliegen</a>
                                </li-->
                                <li class="sub-menu-item">
                                    <a ng-href="gastflug" ng-click="$event.preventDefault(); linkClicked('gastflug')">Gastflug</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sub-menu-parent">
                            <a class="submenu-parent-item" href="#">Fliegen lernen<b class="caret caret-up"></b></a>
                            <ul ng-if="!mainMenuClicked" auto-active class="sub-menu">
                                <!--li class="sub-menu-item">
                                    <a ng-href="ausbildung"
                                       ng-click="$event.preventDefault(); linkClicked('ausbildung')">...</a>
                                </li-->
                                <li class="sub-menu-item">
                                    <a ng-href="schnuppern"
                                       ng-click="$event.preventDefault(); linkClicked('schnuppern')">Schupperangebot</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a ng-href="schulerwerden"
                                       ng-click="$event.preventDefault(); linkClicked('schulerwerden')">Schüler
                                        werden</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sub-menu-parent">
                            <a class="submenu-parent-item" href="#">Über uns<b class="caret caret-up"></b></a>
                            <ul ng-if="!mainMenuClicked" auto-active class="sub-menu">
                                <!--li class="sub-menu-item">
                                    <a ng-href="about" ng-click="$event.preventDefault(); linkClicked('about')">Wir sind ...</a>
                                </li-->
                                <li class="sub-menu-item">
                                    <a ng-href="verein" ng-click="$event.preventDefault(); linkClicked('verein')">Der
                                        Verein</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a ng-href="segelflugzeuge"
                                       ng-click="$event.preventDefault(); linkClicked('segelflugzeuge')">Der
                                        Flugzeugpark</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a ng-href="winde" ng-click="$event.preventDefault(); linkClicked('winde')">Die
                                        Startwinde</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a ng-href="gebuehren" ng-click="$event.preventDefault(); linkClicked('gebuehren')">Die
                                        Gebühren</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a ng-href="jugendgruppe"
                                       ng-click="$event.preventDefault(); linkClicked('jugendgruppe')">Jugendgruppe</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a target="_blank" href="http://www.edhe.de">Flugplatz Uetersen/Heist</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a ng-href="wegweiser" ng-click="$event.preventDefault(); linkClicked('wegweiser')">Flugplatz/Anfahrt</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a ng-href="kontakt" ng-click="$event.preventDefault(); linkClicked('kontakt')">Kontakt</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a ng-href="impressum" ng-click="$event.preventDefault(); linkClicked('impressum')">Impressum</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  sub-menu-parent">
                            <a class="submenu-parent-item" href="#">Segelfliegen FAQ<b class="caret caret-up"></b></a>
                            <ul ng-if="!mainMenuClicked" auto-active class="sub-menu">
                                <!--li class="sub-menu-item">
                                    <a ng-href="faq" ng-click="$event.preventDefault(); linkClicked('faq')">...</a>
                                </li-->
                                <li class="sub-menu-item">
                                    <a ng-href="streckenflug"
                                       ng-click="$event.preventDefault(); linkClicked('streckenflug')">Streckenfliegen</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  sub-menu-parent">
                            <a class="submenu-parent-item" href="english">English<b class="caret caret-up"></b></a>
                            <ul ng-if="!mainMenuClicked" auto-active class="sub-menu">
                                <!--li class="sub-menu-item">
                                    <a ng-href="english"
                                       ng-click="$event.preventDefault(); linkClicked('english')">...</a>
                                </li-->
                                <li class="sub-menu-item">
                                    <a ng-href="about_en" ng-click="$event.preventDefault(); linkClicked('about_en')">About
                                        us</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a ng-href="yearning" ng-click="$event.preventDefault(); linkClicked('yearning')">Yearning
                                        to fly</a>
                                </li>
                                <li class="sub-menu-item">
                                    <a ng-href="wegweiser_en"
                                       ng-click="$event.preventDefault(); linkClicked('wegweiser_en')">How to find
                                        us</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="intern/info">LSV-Intern</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-item sign">
                    <form class="navbar-form navbar-right">
                        <a class="main-menu" href="profile" ng-show="isSignedIn()"><span
                                class="glyphicon glyphicon-hand-right"></span> {{
                            welcomeMessage }}&nbsp;&nbsp;</a>

                        <a class="main-menu" href="signin" ng-show="!isSignedIn()"><span
                                class="glyphicon glyphicon-log-in"></span> Anmelden &nbsp;</a>
                        <a class="main-menu" href="signout" ng-show="isSignedIn()"><span
                                class="glyphicon glyphicon-log-out"></span> Abmelden &nbsp;</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>