<div class="container-fluid">
    <div class="row">
        <div ng-include src="'app/views/pages/menu.html'"></div>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            <div class="container-fluid">
                <h3>Wie werde ich Mitglied?</h3>
                <ul>
                    <li>Kontakt mit uns aufnehmen und Informationen einholen.
                    </li>
                    <li>Zum Flugplatz kommen und&nbsp;<a href="d_flymit.html">einmal mitfliegen</a>: "Kennenlernflug".
                    </li>
                    <li>Außerdem bieten wir die Möglichkeit zum "Schnuppern" - d.h. zwei Wochenenden
                        jeweils den ganzen Tag beim Flugbetrieb mitmachen. &nbsp;Dabei werden
                        alle Aspekte unseres Flugbetriebs unter Aufsicht kennengelernt -
                        inklusive Fliegen im doppelsitzigen Segelflugzeug mit Fluglehrer (zu
                        Mitgliedsfluggebühren). &nbsp;Dabei bekommst Du erste Eindrücke der
                        Segelflugausbildung und kannst feststellen, ob Du Deine Freizeit am Flugplatz
                        mit unseren Mitgliedern verbringen möchtest.
                    </li>
                    <li>Kontakt zum Vorstand herstellen (Beitrittsunterlagen, etc.).
                    </li>
                    <li>Fliegertauglichkeit beim Fliegerarzt bescheinigen
                        lassen (vorher unseren Rat einholen!).
                    </li>
                    <li>Beitrittsunterlagen vollständig ausgefüllt beim Vorstand abgeben.<br>
                        Unser Geschäftsführer Bernward Krause (E-Mail: <img src="bild/email-krause.gif" border="0">
                        Tel. 04103 / 808573)
                        ist für die Bearbeitung zuständig.
                    </li>
                    <li>Fliegen! Fliegen! Fliegen!
                    </li>
                </ul>
                Zur Orientierung wird das <i>"Handbuch für neue Mitglieder"</i>
                ausgehändigt.
                <p>Anfängern wird dringend empfohlen, an unserem alljährlichen
                    Fliegerlager teilzunehmen.
                    Durch viele Schulstarts innerhalb kurzer Zeit können erhebliche
                    Fortschritte gemacht werden.</p>
                <p>Mindestalter: 14 Jahre (entsprechend unserer
                    Satzung und den Bestimmungen unserer Versicherung)
                </p>
                <p align="right">
                    <em>
                        <span style="color: red; font-size: smaller;">Letzte Aktualisierung: {{ date }}</span></em>
                </p>

            </div>
        </main>
    </div>
</div>