<div ng-include src="'app/views/pages/menu.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <route-loading-indicator></route-loading-indicator>
    <div ng-if="!isRouteLoading">

    <h3>Pressespiegel</h3>
    <table class="table-bordered table-condensed">
        <tbody>
        <tr>
            <td style="text-align: center;">26 Juni 2017</td>
            <td>Pinneberger Tageblatt: Seite 8 - <a href="app/views/images/PT-20170626-Sonnenuntergangsfliegen.pdf"
                                                    target="_blank">Sonnenuntergang aus einer etwas anderen
                Perspektive</a>.
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">23 Mai 2017</td>
            <td>Pinneberger Tageblatt: Seite 1 - <a href="app/views/images/PT-20170523-S1-Segelfliegen-Holm.pdf" target="_blank">Im
                Segelflug über dem Kreis Pinneberg</a>.
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">23 Mai 2017</td>
            <td>Pinneberger Tageblatt: Seite 9 - <a href="app/views/images/BZ-20170523-S9-Segelfliegen-Holm.pdf">Die pure Art des
                Fliegens</a>.
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">26. Sep 2015</td>
            <td> Pinneberger Tageblatt: Seite 3 - <a href="app/views/images/PI-Tageblatt-26SEP15.pdf" target="_blank">Hannah (15)
                fliegt sich frei</a>.
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">1. Juni 2014</td>
            <td>Tip Tageblatt am Sonntag: Seite 23 - <a href="app/views/images/Tageblatt-Sonntag-01JUN14.pdf" target="_blank">Lautlos
                durch die Lüfte gleiten</a>.
            </td>
        </tr>
        <tr>
            <td align="center" valign="middle" width="95"> Mai 2012</td>
            <td valign="top" width="590"> Mitschnitt WDR5 Leonardo "Wolkenjäger"
                (<a href="https://dl.dropbox.com/u/3296905/WDR5_Leonardo-Wolkenjaeger-Zusammenfassung.mp3"
                    target="_blank">Zusammenfassung
                    nur Segelfliegen</a>).
            </td>
        </tr>
        <tr>
            <td align="center" valign="middle" width="95"> 12. April 2012</td>
            <td valign="top" width="590"> Pinneberger Tageblatt: Seite 1 - <a href="app/views/images/PI-Tageblatt-12APR12-1.pdf"
                                                                              target="_blank">Über
                den Wolken schweben</a> und Seite 8 - <a href="app/views/images/PI-Tageblatt-12APR12-8.pdf" target="_blank"> Mit
                Schlapphut in die
                Luft</a>.&nbsp; Auch in weiteren Lokalzeitungen inkl. Elmshorner Nachrichten.
            </td>
        </tr>
        <tr>
            <td align="center" height="19" valign="middle" width="95"> 10. April 2012</td>
            <td height="19" valign="top" width="590"> Pinneberger Tageblatt: <a href="app/views/images/PI-Tageblatt-10APR12.jpg"
                                                                                target="_blank">Schwerelos
                über den Kreis Pinneberg fliegen</a>.
            </td>
        </tr>
        <tr>
            <td align="center" height="19" valign="middle" width="95"> 17. Okt. 2011</td>
            <td height="19" valign="top" width="590"> Uetersener Nachrichten: <a href="app/views/images/UN-17OCT11.pdf"
                                                                                 target="_blank"> Segelflugzeuge des LSV
                sind in einem Top-Zustand</a>.
            </td>
        </tr>
        <tr>
            <td align="center" height="19" valign="middle" width="95"> 7. Sep 2011</td>
            <td height="19" valign="top" width="590"> Pinneberger Tageblatt: <a href="app/views/images/PI-Tageblatt-07SEP11.pdf"
                                                                                target="_blank">Lautlos
                über den Wolken</a>.
            </td>
        </tr>
        <tr>
            <td align="center" height="38" valign="middle" width="95"> 5. Mai 2011</td>
            <td height="38" valign="top" width="590"> Pinneberger Tageblatt (Seite7): <a
                    href="app/views/images/Auf-Schatzsuche-am-Himmel-05MAY11.pdf" target="_blank"> Auf Schatzsuche
                am Himmel</a>.
            </td>
        </tr>

        <tr>
            <td style="text-align: center;"> 10. Sep 2010</td>
            <td> Pinneberger Tageblatt (Titelseite): <a href="app/views/images/Von_Wolke_zu_Wolke-10SEP10.pdf" target="_blank">
                Von Wolke zu
                Wolke</a>.<br>
                Seite 2: <a href="app/views/images/Lautlos_die_Wolken_suchen-10SEP10.pdf" target="_blank"> Lautlos die Wolken
                    suchen</a>.
            </td>
        </tr>
        <tr>
            <td align="center" height="19" valign="middle" width="95"> 19. Juli 2010</td>
            <td height="19" valign="top" width="590"> Pinneberger Tageblatt (Seite 4):&nbsp; <a
                    href="app/views/images/PI-Tageblatt-19JUL10.jpg" target="_blank">Eine
                Runde über den Flugplatz von Heist</a>.
            </td>
        </tr>
        <tr>
            <td align="center" height="19" valign="middle" width="95"> 15. April 2010</td>
            <td height="19" valign="top" width="590"> Pinneberger Tageblatt (Seite 5): <a
                    href="app/views/images/PI-Tageblatt-15APR10.pdf" target="_blank">Auf
                weißen Schwingen lautlos kreisen</a>.
            </td>
        </tr>
        <tr>
            <td align="center" height="19" valign="middle" width="95"> 13. April 2010</td>
            <td height="19" valign="top" width="590"> Elmshorner Nachrichten: <a href="app/views/images/EN-13APR10.pdf"
                                                                                 target="_blank">Die
                Segelflieger haben die Saison eröffnet</a>.
            </td>
        </tr>
        <tr>
            <td align="center" height="38" valign="middle" width="95"> 2. Juli 2009</td>
            <td height="38" valign="top" width="590"> Elmshorner Nachrichten: Lautlos über den Wolken - Interview
                mit Felix Seeliger und Jens Hebold&nbsp;aus unserer Jugendgruppe.&nbsp; <a
                        href="app/views/images/EN-02JUL09-1.pdf" target="_blank">Teil
                    I</a> und <a href="presse/EN-02JUL09-2.pdf" target="_blank">Teil II</a>.
            </td>
        </tr>
        <tr>
            <td align="center" height="38" valign="middle" width="95"> 13-Okt-2008</td>
            <td height="38" valign="top" width="590"> Pinneberger Tageblatt (Seite 2): <a
                    href="app/views/images/Jugendliche_im_Flieger-Fieber.pdf" target="_blank">Jugendliche
                im Flieger-Fieber</a> anlässlich des Besuchs der Klasse 9d
                der KGSE (Elmshorn) beim LSV Kreis Pinneberg am 26. September 2008.
            </td>
        </tr>
        <tr>
            <td align="center" height="38" valign="middle" width="95"> Sep 2008</td>
            <td height="38" valign="top" width="590"> Elmshorner Nachrichten: <a href="app/views/images/SCAN-EN-SEP08.jpg"
                                                                                 target="_blank">Die
                Welt aus der Vogelperspektive</a> anlässlich des Besuchs der Klasse 9d
                der
                KGSE (Elmshorn) beim LSV Kreis Pinneberg am 26. September 2008.
            </td>
        </tr>
        <tr>
            <td align="center" height="19" valign="middle" width="95"> 15-Sep-2008</td>
            <td height="19" valign="top" width="590"> Pinneberger Tageblatt: Das gibt es nur in ... Heist: <a
                    href="app/views/images/PI-Tageblatt-15SEP08.pdf" target="_blank">Den
                uralten Traum verwirklichen</a>.
            </td>
        </tr>
        <tr>
            <td align="center" height="38" valign="middle" width="95"> Juli 2008</td>
            <td height="38" valign="top" width="590"> Märkische Allgemeine / Ruppiner Tageblatt: <a
                    href="app/views/images/Neuruppin-31JUL08.pdf" target="_blank">Fliegen ohne
                Deckel überm Kopf</a> (anlässlich des LSV&nbsp;Sommerlagers in Neuruppin (Brandenburg).
            </td>
        </tr>
        <tr>
            <td align="center" height="19" valign="middle" width="95"> Aug 2007</td>
            <td height="19" valign="top" width="590"> Pinneberger Zeitung: <a href="app/views/images/PI-Zeitung-20AUG07.pdf"
                                                                              target="_blank">Unser
                Kleiner Sportverein: Luftsportverein Kreis Pinneberg</a>.
            </td>
        </tr>
        <tr>
            <td align="center" height="19" valign="middle" width="95"> Nov 2007</td>
            <td height="19" valign="top" width="590"> Pinneberger Tageblatt: Leben und arbeiten in ...&nbsp; Heist:
                <a href="app/views/images/PI-Tageblatt-13NOV07.jpg" target="_blank">Mit den Raubvögel
                    über der Erde Kreisen</a>.
            </td>
        </tr>
        </tbody>
    </table>


    <p>
        <em>
            <span style="color: red; font-size: smaller; ">last update 26.6.2017</span></em>
    </p>
    </div>
</div>
