<div ng-include src="'app/views/pages/menu.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3>Segelflug</h3>
    <ul>
        <li>Wie werde ich <a href="http://www.daec.de/sportarten/segelflug/fliegen-lernen/" target="_blank">Segelflieger?</a>

        </li>
        <li><a href="d_sport.html">Segelfliegen - ein unbekannter Sport</a>
        </li>
        <li>Segelfliegen ist eine der preiswertesten, kameradschaftlichsten und
            schönsten Arten, das Fliegen zu erlernen.
            Viele Berufspiloten haben einmal so begonnen und viele sind weiterhin in
            ihrer Freizeit Segelflieger.
            Die Schönheit des lautlosen Fluges ist ein unvergessliches Erlebnis.
            Einmal dabei, verschreibt man sich oft lebenslang dem Segelfliegen.
        </li>
        <li>Diesen Flugsport kann jeder Gesunde, ob Mann oder Frau, ab dem
            14. Lebensjahr betreiben.
        </li>
        <li>Segelfliegen ist kein teurer Elitesport, bei den Segelfliegern
            sind alle Bevölkerungsschichten vertreten.
            Für aktive Vereinsflieger liegen die jährlichen Fluggebühren
            zwischen Euro 550 und 700.
            Viel frische Luft ist im Preis inbegriffen.
            Dagegen sind viele andere Sportarten teurer.
        </li>
        <li>Segelfliegen ist eine der wenigen Sportarten, bei der ältere Menschen
            genau so viel Spaß und Erfolg haben wie Jüngere.
        </li>
        <li>Die Ausbildung zum Segelflieger dauert eineinhalb bis zweieinhalb Jahre.
            Den ersten Alleinflug kann man nach 40 bis 100 Starts machen, abhängig von
            Talent und fliegerischem Fortschritt.
            Ziel der Ausbildung ist der Erwerb des Luftfahrerscheins für Segelflugzeugführer.
        </li>
        <li>Sportliches Ziel der Segelflieger ist der Streckenflug.
            Der Streckenflieger gewinnt im Aufwind kreisend Höhe und gleitet
            dann zum nächsten Aufwind - genauso als ob man eine Treppe
            hinaufsteigt und auf dem Geländer wieder herunterrutscht.
            Auf diese Weise fliegen wir von Uetersen aus Strecken bis zu 600 Kilometern.
            Neben dem fliegerischen Können ist die Naturverbundenheit besondere
            Voraussetzung für den Streckenflug.
            Der Pilot muss die Geschehnisse in der Natur beobachten und deuten können.
            <p>
            </p>
            <div style="text-align: center;">
                <img src="app/views/images/lift.jpg" alt="Principles of Cross-Country Soaring">
            </div>
            <p>
            </p></li>
        <li>Um die Kosten niedrig zu halten wird von den Mitgliedern erwartet, dass sie sich an der anfallenden Arbeit
            beteiligen.
            Damit ist nicht nur die aktive Beteiligung am Flugbetrieb gemeint,
            sondern auch die Wartung der Flugzeuge, des Fuhrparks (Autos, Winde),
            der Gebäude und leider Verwaltungsarbeit.
            Das Arbeiten mit den Kameraden
            macht jedoch Spaß und man kann eine Menge dabei lernen.
        </li>
    </ul>
    <p>
        <a href="d_start.html" target="_top">Hier anklicken</a> für Restart.
    </p>
    <p>
        <em>
            <span style="color: red; font-size: smaller; ">last update 10.7.2014</span></em>
    </p>
</div>