<div ng-include src="'app/views/pages/menu.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3>Kontakte und Adressen</h3>
    <div>
        <p>
            Der LSV Pinneberg ist über E-Mail <a href="mailto:info@LSV-Pinneberg.de"><img
                src="app/views/images/email-info.gif" alt="E-Mail" border="0"></a>
            und unter folgender Adresse zu erreichen:
        </p>
        <b>Luftsportverein Kreis Pinneberg e.V.<br>
            Flugplatz,
            D-25492 Heist</b>
        <br>
        Folgende Kontaktpersonen geben bei Bedarf weitere Auskünfte:
        <p>

        </p>

        <table class="table-bordered table-hover table-condensed">
            <tbody>
            <tr>
                <td align="center"> Bernie Krause <br>
                    <a href="mailto:b.krause@gmx.de"><img src="app/views/images/email-krause.gif"
                                                          alt="E-Mail" border="0"></a><br>
                    <i>(Sprache: Deutsch/English)</i></td>
                <td align="center"> Howard E. Mills <br>
                    <a href="mailto:hmills@t-online.de"><img src="app/views/images/email-hmills.gif"
                                                             alt="E-Mail" border="0"></a><br>
                    <i>(Sprache: Englisch/Deutsch)</i></td>
            </tr>
            <tr>
                <td align="center"> LSV-Geschäftsführer</td>
                <td align="center"> LSV-Segelflugreferent</td>
            </tr>
            <tr>
                <td align="center"> Tel. +49-(0)4103-808573</td>
                <td align="center"> Tel. +49-(0)4101-76422</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br><br>
    <h3>Allgemeines zum LSV Pinneberg</h3>
    <ul>
        <li>Der LSV Pinneberg zählt ca. 120 Mitglieder und definiert
            sich in erster Linie als ein Segelflugverein mit eingeschränkten
            Mglichkeiten zum Motorsegel- und Motorflugbetrieb.
        </li>
        <li>
            Unser Flugplatz ist der
            <a href="d_edhe.html">Flugplatz Uetersen</a>,
            der westlich von Hamburg zu finden ist.
            Der Flugplatz Uetersen ist ein großer Grasplatz.
            Die zwei parallelen Start- und Landebahnen (09/27) sind ca. 1000 Meter lang;
            der Flugplatz ist ca. 700 Meter breit.
            Das bedeutet, dass Motorflug- und Segelflugbetrieb völlig
            unabhängig von einander stattfinden können.
        </li>
        <li>Der Segelflugbetrieb findet hauptsächlich an den Wochenenden und Feiertagen statt.
            Die Flugsaison ist von März bis Oktober und im Winter findet die Werkstattarbeit sowie der
            theoretische
            Unterricht statt.
        </li>
        <li>Sowohl die praktische als auch die theoretische Ausbildung ist Dank der
            ehrenamtlichen Tätigkeit unserer Fluglehrer kostenlos.
            Lediglich die Fluggebühren sind zu zahlen.
        </li>
        <li>Unsere Aktivitäten u.a. sind:
            <ul>
                <li>Ausbildung zum Segelflugzeugführen,
                </li>
                <li>Besonders zugewandt sind wir der Jugendarbeit,
                </li>
                <li>Ausübung des <a href="ueberlandflug">sportlichen Streckensegelflugs</a>,
                </li>
                <li>Alljährliche Fliegerlager,
                </li>
                <li><a href="fliegmituns">Gelegentliche Mitnahme von Nicht-Fliegern</a> in unseren
                    doppelsitzigen
                    Segelflugzeugen.
                </li>
            </ul>
        </li>
        <li>Gestartet wird überwiegend mit Hilfe einer Schleppwinde.
            In etwa 35 Sekunden ist man damit ca. 400 Meter hoch.
            Dann geht es nur mit Sonnenenergie weiter - um oben zu bleiben,
            braucht ein Segelflugzeug Aufwinde (Thermik), und die entstehen durch Sonneneinstrahlung.
        </li>
        <li>Wir haben ein Vereinsblatt <b>Der Thermikfuchs</b>, welches am Ende jedes Quartals
            herausgegeben wird (4mal jährlich).<br>
            Ein <b>Thermikfuchs</b> bezeichnet jemanden, der Experte bei der Suche nach
            Thermik ist.
        </li>
        <li>Wir sind Mitglied im <a href="http://www.luftsport-sh.de" target="NewWin">Luftsportverband
            Schleswig-Holstein e.V.</a> und im <a href="http://www.daec.de" target="NewWin">Deutsche
            Aero-Club (DAeC)</a>.
        </li>
    </ul>
    <br><br>
    <h3><a name="GEBUEHREN"></a>Gebührenübersicht - Segelfliegen</h3>

    Unsere Gebührenstruktur unterstützt diejenigen, die
    viel fliegen.
    Die Fluggebühren reduzieren sich nach den ersten 5 Stunden Flugzeit
    im Jahr.
    Wir schulen doppelsitzig auf ASK-21, die 18 bzw. 12 Euro pro Flugstunde kostet.
    Als ersten Einsitzer fliegt man DG-300 oder Discus (gleicher Preis).
    Leistungsfähigere Segelflugzeuge kosten etwas mehr.
    Für den "Leistungsflieger" auf Vereinssegelflugzeugen
    bieten wir Vergünstigungen an.
    <p>
    <table class="table-striped table-bordered table-hover table-condensed">
        <tbody>
        <tr>
            <td align="center">&nbsp;</td>
            <td align="left">
                <b>Jugendliche</b>
            </td>
            <td align="left">
                <b>Erwachsene</b>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top">
                Aufnahmegebühr<br>Jahreseinlage<br>Nutzungsbeitrag (jährlich)<br>
                Windenstart<br>
                Flugzeug-Schleppstart/Minute<br>
                Flugstunde (je nach Flugzeugtyp)<br>
                Arbeitsstunden pro Jahr
            </td>
            <td align="right" valign="top">
                160 Euro<br>120 Euro<br>36 Euro<br>
                3,50 Euro<br>
                1,90 Euro<br>
                12 - 24 Euro<br>
                25 Std
            </td>
            <td align="right" valign="top">
                320 Euro<br>120 Euro<br>192 Euro<br>
                3,50 Euro<br>
                1,90 Euro<br>
                12 - 24 Euro<br>
                25 Std
            </td>
        </tr>
        </tbody>
    </table>

    </p>
    <br><br>
    <h3>Vereinsflugzeugpark - Segelflugzeuge</h3>
    <table class="table-striped table-bordered table-hover table-condensed">
        <tbody>
        <tr>
            <td><b> Kennz. </b></td>
            <td><b> Muster </b></td>
            <td><b> Bauart </b></td>
            <td><b> Verwendung </b></td>
        </tr>
        <tr>
            <th> D-3469</th>
            <td align="center"><a href="http://www.alexander-schleicher.de/produkte/ask21/ask21_daten.htm"
                                  target="_blank">ASK-21</a></td>
            <td> Glasfaser</td>
            <td> Doppelsitzer: Schulung</td>
        </tr>
        <tr>
            <th> D-5851</th>
            <td align="center"><a href="http://www.alexander-schleicher.de/produkte/ask21/ask21_daten.htm"
                                  target="_blank">ASK-21</a></td>
            <td> Glasfaser</td>
            <td> Doppelsitzer: Schulung</td>
        </tr>
        <tr>
            <th> D-6510</th>
            <td align="center"><a href="http://www.dg-flugzeugbau.de/dg1000-herausforderer-d.html"
                                  target="_blank">DG-1000S</a>
            </td>
            <td> Glasfaser</td>
            <td> Doppelsitzer: Streckenflüge, Lokalflüge usw.</td>
        </tr>
        <tr>
            <td><span style="font-weight: bold;">D-1931</span></td>
            <td style="text-align: center;"><a href="http://www.schempp-hirth.com/index.php?id=39"
                                               target="_blank">Discus
                CS</a></td>
            <td> Glasfaser</td>
            <td> Einsitzer: Streckenflüge usw.</td>
        </tr>
        <tr>
            <th> D-2784</th>
            <td align="center"><a href="http://www.schempp-hirth.com/index.php?id=7" target="_blank">Discus
                2c</a></td>
            <td> Glasfaser</td>
            <td> Einsitzer: Streckenflüge usw.</td>
        </tr>
        <tr>
            <th> D-2785</th>
            <td align="center"><a href="http://www.schempp-hirth.com/index.php?id=7" target="_blank">Discus
                b</a></td>
            <td> Glasfaser</td>
            <td> Einsitzer: Streckenflüge, Schulung usw.</td>
        </tr>
        <tr>
            <th> D-4595</th>
            <td align="center"><a href="http://de.wikipedia.org/wiki/DG-300" target="_blank"> DG-300</a>
            </td>
            <td> Glasfaser</td>
            <td> Einsitzer: Streckenflüge, Schulung usw.</td>
        </tr>
        </tbody>
    </table>

    <p>Alle Segelflugzeuge sind mit dem
        Kollisionswarnsystem <a href="http://www.flarm.de/" target="_blank">FLARM</a>
        ausgestattet.</p>
    <br><br>

    <h3>Vereinsflugzeugpark - MotorSegler</h3>
    <table class="table-bordered table-hover table-condensed">
        <tbody>
        <tr>
            <th> D-KBUO</th>
            <td><i> Rotax-Falke (100-PS) Schleppflugzeug </i></td>
        </tr>
        </tbody>
    </table>
    <br>
    <p>
        Dazu gibt es einige Segelflugzeuge in Privatbesitz bzw. Haltergemeinschaften
        (z.B. Ka8, DG-200, DG-400, DG-808b, DG-808c, Ventus b, Ventus c, Nimbus b, SZD-51, Arcus M).</p>
    <p align="right">
        <em>
            <span style="color: red; font-size: smaller;">Letzte Aktualisierung: {{ date }}</span></em>
    </p>
</div>
