<div ng-include src="'app/views/pages/menu.html'"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3>Anfart</h3>

    <ul>
        <li>Den Flugplatz erreicht man über die Bundesstraße B431 zwischen den Ortschaften
            Holm im Süden und Heist im Norden.
            Von Hamburg aus führt man dazu einfach Richtung Wedel auf der B431 bis man Holm hinter
            sich gelassen hat, um dann innerhalb eines Waldstückes nach rechts (Schlackenweg)
            in Richtung Flugplatz einzubiegen.
            <br>
            Von der Autobahn A23 von Hamburg aus nimmt man am Besten die Ausfahrt
            <b>Pinneberg Süd</b>, dann über Thesdorf und Appen-Etz, um auf die B431 in Holm
            zu gelangen.
            <br>
            Von der Autobahn A23 Richtung Hamburg nimmt man die Ausfahrt <b>Tornesch</b>,
            dann über Uetersen, Moorege und Heist (B431) zum Flugplatzeingang.
        </li>
        <li>Der Wegweisung in Richtung Tower-Restaurant zunächst bis zum Flugplatztor folgen.
        </li>
    </ul>
    <div style="text-align: center;">
        <img src="app/views/images/strmap.jpg" height="350" width="400" alt="Anfahrtskizze"><br>
        Anfahrtskizze<br>
    </div>
    <p>Die Landebahnen auf dem Flugplatz Uetersen verlaufen in Ost-West-Richtung.
        Die Segelflieger starten auf der Nordseite des Flugplatzes. Um dorthin zu
        gelangen muss man an der Außenseite des Flugplatzes entlang fahren, auf keinen
        Fall dabei abkürzen!
    </p>
    <p>
    </p>

    <div style="text-align: center;">
        <img border="0" src="app/views/images/fpl4.jpg" width="700" height="414"><br>
        <b>
            Flugplatzskizze</b>
    </div>
    <p>Legende:&nbsp;</p>
    <ol type="A">
        <li>Direkt nach der Einfahrt durch das Flugplatztor befindet sich auf der
            linken Seite ein kleiner Parkplatz. Bitte fahren Sie nicht durch das
            automatische Tor vor den Hallen (auch nicht wenn es geöffnet sein sollte),
            dies ist nur Flugplatzmitgliedern erlaubt. Links neben diesem Tor stehen
            Informationstafeln beider Segelflugvereine. Falls kein Segelflugbetrieb auf
            dem Flugplatz herrscht befinden sich vielleicht Mitglieder in einem der
            Gebäude links.
        </li>
        <li>Schild <i> "Nur für Piloten"</i>. Trotzdem weiterfahren und dabei
            Rücksicht auf Fahrradfahrer und Fußgänger in diesem Bereich nehmen.
        </li>
        <li>Der asphaltierte Weg wird hier durch den Zaun des Militärbereichs
            gesperrt. Nicht an dieser Stelle parken. Dicht am Zaun entlang weiterfahren
            und auf landende Flugzeuge achten.
        </li>
        <li>Bei Westwind starten die Segelflugzeuge am "Start 27". Am
            Zaun parken und zum <b> Startwagen des LSV Pinneberg</b> gehen.
        </li>
        <li>Bei Ostwind starten die Segelflugzeuge am "Start 09". An
            "Start 27" steht in dem Fall die Schleppwinde. Den Zaun entlang
            bis "Start 09" fahren. Am Zaun parken und zum <b> Startwagen des LSV
                Pinneberg</b> gehen.
        </li>
    </ol>
    <p>
        <em>
            <span style="color: red; font-size: smaller; ">last update 22.5.2012</span></em>


    </p>
</div>
