<div class="row">
    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
        <h3 class="text-center login-title">Neues Konto erstellen</h3>
        <img class="img-responsive center-block" src="app/views/images/no_image_user.png">
    </div>
</div><br>
<div class="row">
    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
        <form class="form-signin" ng-submit="register.registerUser();">
            <input type="text" class="form-control" placeholder="Name" required autofocus
                   ng-model="register.registerData.name">
            <input type="text" class="form-control" placeholder="Nachname" required
                   ng-model="register.registerData.lastname">
            <input type="text" class="form-control" placeholder="Spitzname" required
                   ng-model="register.registerData.username">
            <input type="text" class="form-control" placeholder="Email" required
                   ng-model="register.registerData.email">
            <input type="mobile" class="form-control" placeholder="Handy" required
                   ng-model="register.registerData.mobile">
            <input type="phone" class="form-control" placeholder="Telefon"
                   ng-model="register.registerData.phone">
            <input type="password" class="form-control" placeholder="Kennwort" required
                   ng-model="register.registerData.password">
            <br>
            <button class="btn btn-info btn-outline btn-block" type="submit">
                <span
                        class="glyphicon glyphicon-user"></span> Konto erstellen
            </button><br>
            <a href="signin" class="text-center new-account">Anmelden </a><br><br><br>
            <div class="cssload-container" ng-show="register.loading">
                <div class="cssload-whirlpool"></div>
            </div>
            <div class="row">
                <div class="show-hide-message"  ng-show="register.successMsg">
                    <div class="alert alert-success">{{ register.successMsg }}</div>
                </div>
                <div class="show-hide-message" ng-show="register.errorMsg">
                    <div class="alert alert-danger">{{ register.errorMsg }}</div>
                </div>
            </div>
        </form>
    </div>
</div>