<br>
<div ng-include src="'app/views/pages/intern_menu.html'"></div>
<div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
    <h4 class="text-center login-title"><span class="glyphicon glyphicon-user"></span> Neues Mitglied hinzufügen</h4>
</div>
</div><br><br><br>
<div class="row">
    <div class="col-xs-5 col-xs-offset-6 col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
        <route-loading-indicator></route-loading-indicator>
        <div ng-if="!isRouteLoading">
            <form name="registrationForm" class="form-signin" ng-submit="register.registerUser();">
                <div ng-class="{ 'has-success':(registrationForm.email.$valid && !registrationForm.email.$pristine), 'has-error':(!registrationForm.email.$valid && !registrationForm.email.$pristine)}">
                    <span class="label label-info">Email *</span>
                    <input name="email" type="text" class="form-control" placeholder="Email" required
                           ng-model="register.registerData.email"
                           ng-pattern="/^(([^&lt;&gt;()\[\]\\.,;:\s@\&quot;]+(\.[^&lt;&gt;()\[\]\\.,;:\s@&quot;]+)*)|(&quot;.+&quot;))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/">
                    <ul ng-show="(!registrationForm.email.$pristine && registrationForm.email.$error.pattern)"
                        class="help-block">
                        <li>Beispiel: hans.josef@example.com oder smith@agent.de</li>
                    </ul>
                </div>
                <br>
                <div class="funkyradio">
                    <div class="funkyradio-info">
                        <input type="checkbox" id="rd_admin" name="rd_admin" ng-model="register.registerData.rd_admin"
                               ng-click="clickRole('admin')">
                        <label for="rd_admin"> Administrator</label>
                    </div>
                    <div class="funkyradio-info">
                        <input type="checkbox" id="rd_manager" name="rd_manager"
                               ng-model="register.registerData.rd_manager"
                               ng-click="clickRole('manager')">
                        <label for="rd_manager"> Vorstand </label>
                    </div>
                    <div class="funkyradio">
                        <div class="funkyradio-info">
                            <input type="checkbox" id="rd_fi" name="rd_fi" ng-model="register.registerData.rd_fi"
                                   ng-click="clickRole('fi')">
                            <label for="rd_fi"> Fluglehrer</label>
                        </div>
                        <div class="funkyradio-info">
                            <input type="checkbox" id="rd_spl" name="rd_spl" ng-model="register.registerData.rd_spl"
                                   ng-click="clickRole('spl')">
                            <label for="rd_spl"> Scheininhaber</label>
                        </div>
                        <div class="funkyradio-info">
                            <input type="checkbox" id="rd_student" name="rd_student"
                                   ng-model="register.registerData.rd_student"
                                   ng-init="register.registerData.rd_student = true" ng-click="clickRole('student')"
                                   value="true" ng-checked="initChecked">
                            <label for="rd_student"> Flugschüler</label>
                        </div>
                    </div>
                    <div class="funkyradio-info">
                        <input type="checkbox" id="rd_mose" name="rd_mose" ng-model="register.registerData.rd_mose"
                               ng-click="clickRole('mose')">
                        <label for="rd_mose"> Mosebucher</label>
                    </div>
                    <div class="funkyradio-info">
                        <input type="checkbox" id="rd_wl" name="rd_wl" ng-model="register.registerData.rd_wl"
                               ng-click="clickRole('wl')">
                        <label for="rd_wl"> Werkstattleiter</label>
                    </div>
                    <div class="funkyradio-info">
                        <input type="checkbox" id="rd_sw" name="rd_sw" ng-model="register.registerData.rd_sw"
                               ng-click="clickRole('sw')">
                        <label for="rd_sw"> Segelflugzeugwart</label>
                    </div>
                    <div class="funkyradio-info">
                        <input type="checkbox" id="rd_rsw" name="rd_msw" ng-model="register.registerData.rd_rsw"
                               ng-click="clickRole('msw')">
                        <label for="rd_rsw"> Motorseglerwart</label>
                    </div>
                </div>
                <div>
                    <p>
                        <em><span style="color: red; font-size: smaller; ">* Pflichtfeld</span></em>
                    </p>
                    <br>
                    <button class="btn btn-info btn-outline btn-block" type="submit">
                <span
                        class="glyphicon glyphicon-user"></span> Hinzufügen
                    </button>
                    <br>
                </div>
                <div class="cssload-container" ng-show="register.loading">
                    <div class="cssload-whirlpool"></div>
                </div>
            </form>
        </div>
    </div>
</div>