<datepicker ng-model="selectedDate">
    <div class=" panel panel-default">
        <div class="datepicker-header">
            <button type="button" ng-click="move(-1, 'year')" class="btn btn-default datepicker-day"><i class="fa fa-angle-double-left fa-lg"></i></button>
            <button type="button" ng-click="move(-1, 'month')" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
            <div class="grow text-center" ng-click="clickOnHeader()">{{viewDate.format('MMMM YYYY')}}</div>
            <button type="button" ng-click="move(1, 'month')" class="btn btn-default"><i class="fa fa-angle-right fa-lg"></i></button>
            <button type="button" ng-click="move(1, 'year')" class="btn btn-default"><i class="fa fa-angle-double-right fa-lg"></i></button>
        </div>
        <div class="datepicker-month">
            <div class="datepicker-day">Mo</div>
            <div class="datepicker-day">Di</div>
            <div class="datepicker-day">Mi</div>
            <div class="datepicker-day">Do</div>
            <div class="datepicker-day">Fr</div>
            <div class="datepicker-day">Sa</div>
            <div class="datepicker-day">So</div>

            <button type="button" ng_repeat="day in days"
                    class="btn datepicker-day"
                    ng-class="{ 'btn-default': !day.inMonth,
                                'btn-primary': day.selected,
                                'btn-info' : day.inMonth && !day.selected && !day.today,
                                'btn-success' : !day.selected && day.today,
                                'disabled': day.past}"
                    ng-click="setSelectedDate(day)">{{day.label}}
            </button>
        </div>
    </div>
</datepicker>
