<div ng-controller="mainCtrl" ng-include src="'app/views/pages/intern/intern_menu.html'"></div>
<br><br><br>
<div class="col-xs-4 col-xs-offset-5 col-sm-4 col-sm-offset-5 col-md-5 col-md-offset-4 main">
    <route-loading-indicator></route-loading-indicator>
    <div ng-if="!isRouteLoading">
        <table class="table table-responsive" ng-show="loaded">
            <thead>
            <tr>
                <th>#</th>
                <th>Flugzeug</th>
                <th>Kennzeichen</th>
                <th>Klar</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="plane in planes">
                <td>{{$index + 1}}</td>
                <td>{{plane.name}}</td>
                <td>{{plane.registration}}</td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input id="{{'cleared' + $index}}" type="checkbox" class="custom-control-input" ng-show="false"
                               ng-checked="plane.cleared"  ng-disabled="$index != updateIndex">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <button class="btn btn-info btn-outline my-2 my-sm-0 btn-block" type="button"
                            ng-click="setUpdateIndex($index)" ng-show="$index !== updateIndex"
                            ng-disabled="updateIndex !== -1">
                        <span
                                class="glyphicon glyphicon-edit"
                                aria-hidden="true"></span> Ändern
                    </button>

                    <button class="btn btn-success btn-outline my-2 my-sm-0 btn-block" type="button"
                            ng-click="save($index); " ng-show="$index === updateIndex"><span
                            class="glyphicon glyphicon-save"
                            aria-hidden="true"></span> Speichern
                    </button>
                    <button class="btn btn-warning btn-outline my-2 my-sm-0 btn-block" type="button"
                            ng-click="resetSettings($index)" ng-show="$index === updateIndex"><span
                            class="glyphicon glyphicon-remove"
                            aria-hidden="true"></span> Zurück&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
